/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  /* Remove flex centering from the body */
  display: block !important;
  background-color: #f8fafb;
  overflow-x: hidden;
}

/* Fix for the custom cursor conflict */
html,
body,
a,
button,
input {
  cursor: none !important;
}

/* Ensure the background grid doesn't block clicks */
#blueprint-wrapper {
  pointer-events: none !important;
}

@keyframes floatBg {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
